In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import statistics
import statsmodels
from scipy.stats import norm
from scipy.stats import t
from scipy.stats import f
from statsmodels.stats.multicomp import pairwise_tukeyhsd

## Ejercicio 1

In [2]:
datos_ej1 = pd.DataFrame({
    'Invierno': [9.8, 9.9, 9.8, 10.6, 9.9, 10.7, 9.7, 10.2, 10.9, 10],
    'Primavera': [9.0, 9.3, 9.3, 9.2, 9.4, 9.1, 9.2, 8.9, 9.3, 9.3],
    'Verano': [8.8, 8.7, 8.8, 8.6, 8.7, 8.3, 8.8, 8.8, 8.7, 8.9],
    'Otoño': [9.4, 9.4, 10.3, 9.8, 9.4, 9.6, 9.5, 9.6, 9.5, 9.4]
})

datos_ej1

   Invierno  Primavera  Verano  Otoño
0       9.8        9.0     8.8    9.4
1       9.9        9.3     8.7    9.4
2       9.8        9.3     8.8   10.3
3      10.6        9.2     8.6    9.8
4       9.9        9.4     8.7    9.4
5      10.7        9.1     8.3    9.6
6       9.7        9.2     8.8    9.5
7      10.2        8.9     8.8    9.6
8      10.9        9.3     8.7    9.5
9      10.0        9.3     8.9    9.4

In [3]:
f_test = stats.f_oneway(datos_ej1['Invierno'],
                            datos_ej1['Verano'],
                            datos_ej1['Primavera'],
                            datos_ej1['Otoño'])
f_test

F_onewayResult(statistic=47.02391839606045, pvalue=1.546203797658182e-12)

Se rechaza H0

## Ejercicio 2

In [4]:
datos_ej2 = pd.DataFrame()

datos_ej2['Grupos'] = ['Invierno'] * 10 + ['Primavera'] * 10 + ['Verano'] * 10 + ['Otoño'] * 10
datos_ej2['Valores'] = [9.8, 9.9, 9.8, 10.6, 9.9, 10.7, 9.7, 10.2, 10.9, 10,
                       9.0, 9.3, 9.3, 9.2, 9.4, 9.1, 9.2, 8.9, 9.3, 9.3,
                       8.8, 8.7, 8.8, 8.6, 8.7, 8.3, 8.8, 8.8, 8.7, 8.9,
                        9.4, 9.4, 10.3, 9.8, 9.4, 9.6, 9.5, 9.6, 9.5, 9.4]

datos_ej2

       Grupos  Valores
0    Invierno      9.8
1    Invierno      9.9
2    Invierno      9.8
3    Invierno     10.6
4    Invierno      9.9
5    Invierno     10.7
6    Invierno      9.7
7    Invierno     10.2
8    Invierno     10.9
9    Invierno     10.0
10  Primavera      9.0
11  Primavera      9.3
12  Primavera      9.3
13  Primavera      9.2
14  Primavera      9.4
15  Primavera      9.1
16  Primavera      9.2
17  Primavera      8.9
18  Primavera      9.3
19  Primavera      9.3
20     Verano      8.8
21     Verano      8.7
22     Verano      8.8
23     Verano      8.6
24     Verano      8.7
25     Verano      8.3
26     Verano      8.8
27     Verano      8.8
28     Verano      8.7
29     Verano      8.9
30      Otoño      9.4
31      Otoño      9.4
32      Otoño     10.3
33      Otoño      9.8
34      Otoño      9.4
35      Otoño      9.6
36      Otoño      9.5
37      Otoño      9.6
38      Otoño      9.5
39      Otoño      9.4

In [5]:
dhs = pairwise_tukeyhsd(endog=datos_ej2['Valores'], groups=datos_ej2['Grupos'], alpha=0.01)
print(dhs)

   Multiple Comparison of Means - Tukey HSD, FWER=0.01
==========================================================
  group1    group2  meandiff p-adj   lower   upper  reject
----------------------------------------------------------
 Invierno     Otoño    -0.56 0.0004 -0.9803 -0.1397   True
 Invierno Primavera    -0.95    0.0 -1.3703 -0.5297   True
 Invierno    Verano    -1.44    0.0 -1.8603 -1.0197   True
    Otoño Primavera    -0.39 0.0186 -0.8103  0.0303  False
    Otoño    Verano    -0.88    0.0 -1.3003 -0.4597   True
Primavera    Verano    -0.49 0.0022 -0.9103 -0.0697   True
----------------------------------------------------------

### Realización manual

Cálculo de q crítico

In [6]:
from scipy.stats import distributions

# Parámetros
k = 4  # Número de grupos
df_within = 36  # Grados de libertad dentro de los grupos
alpha = 0.01  # Nivel de significancia

# Calcular el valor crítico q
q_critico = distributions.studentized_range.ppf(1 - alpha, k, df_within)

print(f"Valor crítico de q: {q_critico:.4f}")

Valor crítico de q: 4.7294

Suma de cuadrados dentro de los grupos (*within*)

In [7]:
datos_ej1['Invierno**2'] = datos_ej1['Invierno']**2
datos_ej1['Primavera**2'] = datos_ej1['Primavera']**2
datos_ej1['Verano**2'] = datos_ej1['Verano']**2
datos_ej1['Otoño**2'] = datos_ej1['Otoño']**2
datos_ej1

,Invierno,Primavera,Verano,Otoño,Invierno**2,Primavera**2,Verano**2,Otoño**2
0,9.8,9.0,8.8,9.4,96.04,81.00,77.44,88.36
1,9.9,9.3,8.7,9.4,98.01,86.49,75.69,88.36
2,9.8,9.3,8.8,10.3,96.04,86.49,77.44,106.09
3,10.6,9.2,8.6,9.8,112.36,84.64,73.96,96.04
4,9.9,9.4,8.7,9.4,98.01,88.36,75.69,88.36
5,10.7,9.1,8.3,9.6,114.49,82.81,68.89,92.16
6,9.7,9.2,8.8,9.5,94.09,84.64,77.44,90.25
7,10.2,8.9,8.8,9.6,104.04,79.21,77.44,92.16
8,10.9,9.3,8.7,9.5,118.81,86.49,75.69,90.25
9,10.0,9.3,8.9,9.4,100.00,86.49,79.21,88.36

In [8]:
suma1 = (datos_ej1['Invierno'].sum())**2
suma2 = (datos_ej1['Primavera'].sum())**2
suma3 = (datos_ej1['Verano'].sum())**2
suma4 = (datos_ej1['Otoño'].sum())**2

print('Suma de Invierno al cuadrado:', round(suma1, 2))
print('Suma de Primavera al cuadrado:', round(suma2, 2))
print('Suma de Verano al cuadrado:', round(suma3, 2))
print('Suma de Otoño al cuadrado:', round(suma4, 2))

Suma de Invierno al cuadrado: 10302.25
Suma de Primavera al cuadrado: 8464.0
Suma de Verano al cuadrado: 7586.41
Suma de Otoño al cuadrado: 9196.81

In [9]:
sc1 = datos_ej1['Invierno**2'].sum() - suma1/10
sc2 = datos_ej1['Primavera**2'].sum() - suma2/10
sc3 = datos_ej1['Verano**2'].sum() - suma3/10
sc4 = datos_ej1['Otoño**2'].sum() - suma4/10
suma_cuadrados_within = sc1 + sc2 + sc3 + sc4
round(suma_cuadrados_within, 3)

2.843

In [10]:
varianza_within = suma_cuadrados_within / 36
varianza_within

0.07897222222222114

In [11]:
dhs = q_critico * np.sqrt(varianza_within/ 10)
dhs

0.420288420530073

Para hacer las comparaciones usamos la función *np.where*, que es equivalente a una función *Si* en Excel:

- Condición

- Qué hacer si la condición se cumple para el caso (valor si verdadero).

- Qué hacer si la condición *no* se cumple (valor si falso.)

In [12]:
comparacion = pd.DataFrame()
comparacion['Meses'] = ['Invierno - Primavera', 'Invierno - Verano', 'Invierno - Otoño', 'Primavera - Verano','Primavera - Otoño', 'Verano - Otoño']
comparacion['Módulo de diferencias'] = [abs(np.mean(datos_ej1['Invierno']) - np.mean(datos_ej1['Primavera'])),
                                        abs(np.mean(datos_ej1['Invierno']) - np.mean(datos_ej1['Verano'])),
                                        abs(np.mean(datos_ej1['Invierno']) - np.mean(datos_ej1['Otoño'])),
                                        abs(np.mean(datos_ej1['Primavera']) - np.mean(datos_ej1['Verano'])),
                                        abs(np.mean(datos_ej1['Primavera']) - np.mean(datos_ej1['Otoño'])),
                                        abs(np.mean(datos_ej1['Verano']) - np.mean(datos_ej1['Otoño']))]

comparacion['Decision sobre H0'] = np.where(
    comparacion['Módulo de diferencias'] >= dhs, 'Rechazo', 'No rechazo'
)
comparacion

                  Meses  Módulo de diferencias Decision sobre H0
0  Invierno - Primavera                   0.95           Rechazo
1     Invierno - Verano                   1.44           Rechazo
2      Invierno - Otoño                   0.56           Rechazo
3    Primavera - Verano                   0.49           Rechazo
4     Primavera - Otoño                   0.39        No rechazo
5        Verano - Otoño                   0.88           Rechazo

## Ejercicio 3

In [13]:
grupo1 = [9, 6, 8, 8, 9]
grupo2 = [6, 7, 7, 9, 8]

f_test = stats.f_oneway(grupo1, grupo2)
f_test

F_onewayResult(statistic=0.6428571428571428, pvalue=0.44583834154275137)

Comprobemos que para una comparación de dos grupos, F = t<sup>2</sup>

In [14]:
t_test = stats.ttest_ind(grupo1, grupo2)
t_test

TtestResult(statistic=0.8017837257372727, pvalue=0.4458383415427517, df=8.0)

In [15]:
t_test[0]**2

0.6428571428571422

## Ejercicio 6

In [32]:
marca_a = [42, 36, 47, 43, 38]
marca_b = [52, 48, 43, 49, 51]
marca_c = [38, 44, 33, 35, 32]

f_test = stats.f_oneway(marca_a, marca_b, marca_c)
f_test

F_onewayResult(statistic=10.434622467771636, pvalue=0.0023678223205132066)

In [17]:
datos_ej6 = pd.DataFrame({
            'Marcas': ['Marca A'] * 5 + ['Marca B'] * 5 + ['Marca C'] * 5,
            'Valores': marca_a + marca_b + marca_c
})

dhs = pairwise_tukeyhsd(endog = datos_ej6['Valores'], groups = datos_ej6['Marcas'], alpha = 0.05)
print(dhs)

  Multiple Comparison of Means - Tukey HSD, FWER=0.05
=======================================================
 group1  group2 meandiff p-adj   lower    upper  reject
-------------------------------------------------------
Marca A Marca B      7.4 0.0432   0.2215 14.5785   True
Marca A Marca C     -4.8 0.2163 -11.9785  2.3785  False
Marca B Marca C    -12.2 0.0018 -19.3785 -5.0215   True
-------------------------------------------------------

## Ejercicio 7

In [34]:
marca_a = [22, 20, 24, 18]
marca_b = [25, 23, 26, 22]
marca_c = [17, 19, 15, 18]
marca_d = [21, 24, 25, 23]
marca_e = [27, 29, 24, 25]
marca_f = [20, 14, 17, 15]

f_test = stats.f_oneway(marca_a, marca_b, marca_c, marca_d, marca_e, marca_f)
f_test

F_onewayResult(statistic=12.98918918918919, pvalue=1.9009192480704736e-05)

In [35]:
datos_ej7 = pd.DataFrame({
            'Marcas': ['Marca A'] * 4 + ['Marca B'] * 4 + ['Marca C'] * 4 + ['Marca D'] * 4 + ['Marca E'] * 4 + ['Marca F'] * 4,
            'Valores': marca_a + marca_b + marca_c + marca_d + marca_e + marca_f
})

dhs = pairwise_tukeyhsd(endog = datos_ej7['Valores'], groups = datos_ej7['Marcas'], alpha = 0.01)
print(dhs)

  Multiple Comparison of Means - Tukey HSD, FWER=0.01
=======================================================
 group1  group2 meandiff p-adj   lower    upper  reject
-------------------------------------------------------
Marca A Marca B      3.0  0.394  -3.0246  9.0246  False
Marca A Marca C    -3.75 0.1862  -9.7746  2.2746  False
Marca A Marca D     2.25 0.6806  -3.7746  8.2746  False
Marca A Marca E     5.25 0.0288  -0.7746 11.2746  False
Marca A Marca F     -4.5 0.0765 -10.5246  1.5246  False
Marca B Marca C    -6.75 0.0036 -12.7746 -0.7254   True
Marca B Marca D    -0.75 0.9958  -6.7746  5.2746  False
Marca B Marca E     2.25 0.6806  -3.7746  8.2746  False
Marca B Marca F     -7.5 0.0013 -13.5246 -1.4754   True
Marca C Marca D      6.0 0.0103  -0.0246 12.0246  False
Marca C Marca E      9.0 0.0002   2.9754 15.0246   True
Marca C Marca F    -0.75 0.9958  -6.7746  5.2746  False
Marca D Marca E      3.0  0.394  -3.0246  9.0246  False
Marca D Marca F    -6.75 0.0036 -12.7746 -0.7254   True
Marca E Marca F    -9.75 0.0001 -15.7746 -3.7254   True
-------------------------------------------------------

## Ejercicio 9

In [36]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

nueva_inglaterra = [8, 7, 8, 6.5, 8, 8]
medio_este = [7, 7, 8, 7, 7, 7]
lejano_oeste = [9, 7, 6, 7, 8, 5]

datos_ej9 = pd.DataFrame({
            'Regiones': ['Nueva Inglaterra'] * 6 + ['Medio Este'] * 6 + ['Lejano Oeste'] * 6,
            'Valores': nueva_inglaterra + medio_este + lejano_oeste
})

datos_ej9

            Regiones  Valores
0   Nueva Inglaterra      8.0
1   Nueva Inglaterra      7.0
2   Nueva Inglaterra      8.0
3   Nueva Inglaterra      6.5
4   Nueva Inglaterra      8.0
5   Nueva Inglaterra      8.0
6         Medio Este      7.0
7         Medio Este      7.0
8         Medio Este      8.0
9         Medio Este      7.0
10        Medio Este      7.0
11        Medio Este      7.0
12      Lejano Oeste      9.0
13      Lejano Oeste      7.0
14      Lejano Oeste      6.0
15      Lejano Oeste      7.0
16      Lejano Oeste      8.0
17      Lejano Oeste      5.0

In [49]:
# Modelo de ANOVA
modelo = ols('Valores ~ Regiones', data= datos_ej9).fit()
anova_resultados = anova_lm(modelo)

# Mostrar resultados
print(anova_resultados)

            df     sum_sq   mean_sq         F    PR(>F)
Regiones   2.0   1.083333  0.541667  0.623003  0.549648
Residual  15.0  13.041667  0.869444       NaN       NaN

## Ejercicio 10

In [50]:
banco_a = [4, 8, 3, 0, 3, 5, 3, 4, 0, 5, 2, 4, 6, 2, 0]
banco_b = [2, 0, 1, 2, 1, 1, 3, 3, 4, 3, 1, 4, 0, 5, 0]

datos_ej10 = pd.DataFrame({
            'Bancos': ['Banco A'] * len(banco_a) + ['Banco B'] * len(banco_b),
            'Valores': banco_a + banco_b
})

modelo = ols('Valores ~ Bancos', data = datos_ej10).fit()
anova_resultados = anova_lm(modelo)

# Mostrar resultados
print(anova_resultados)

            df      sum_sq    mean_sq         F    PR(>F)
Bancos     1.0   12.033333  12.033333  3.093023  0.089555
Residual  28.0  108.933333   3.890476       NaN       NaN

Comprobemos si los resultados son iguales a los que nos da la función que usamos en los primeros ejercicios.

In [39]:
stats.f_oneway(banco_a, banco_b)

F_onewayResult(statistic=3.093023255813954, pvalue=0.0895550094337853)

## Ejercicio_12

In [40]:
grupo_a = [15, 16, 14, 17, 15]
grupo_b = [14, 13, 15, 16, 14]
grupo_c = [13, 12, 11, 14, 11]
datos_ej12 = pd.DataFrame()
datos_ej12 = pd.DataFrame({
            'Grupos': ['A'] * len(grupo_a) + ['B'] * len(grupo_b) + ['C'] * len(grupo_c),
            'Minutos': grupo_a + grupo_b + grupo_c
})

modelo = ols('Minutos ~ Grupos', data = datos_ej12).fit()
anova_resultados = anova_lm(modelo)
print(anova_resultados)

            df  sum_sq    mean_sq         F    PR(>F)
Grupos     2.0    26.8  13.400000  9.348837  0.003568
Residual  12.0    17.2   1.433333       NaN       NaN

## Ejercicio 13

In [41]:
dhs = pairwise_tukeyhsd(datos_ej12['Minutos'], groups = datos_ej12['Grupos'], alpha = 0.01)
print(dhs)

Multiple Comparison of Means - Tukey HSD, FWER=0.01
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     A      B     -1.0 0.4111 -3.7017  1.7017  False
     A      C     -3.2 0.0031 -5.9017 -0.4983   True
     B      C     -2.2 0.0328 -4.9017  0.5017  False
----------------------------------------------------

## Ejercicio 14

In [59]:
datos_ej14 = pd.DataFrame({
    'Equipos': ['Chicago Cubs'] * 12 + ['Houston Astros'] * 12 + ['Cincinnati Reds'] * 11,
    'Homeruns': [2, 16, 28, 2, 21, 2, 2, 19, 0, 4, 8, 6, 9, 2, 1, 10, 13, 1, 12, 0, 1, 2, 7, 7, 13, 39, 25, 9, 3, 0, 13, 27, 5, 1, 2]
})
datos_ej14

            Equipos  Homeruns
0      Chicago Cubs         2
1      Chicago Cubs        16
2      Chicago Cubs        28
3      Chicago Cubs         2
4      Chicago Cubs        21
5      Chicago Cubs         2
6      Chicago Cubs         2
7      Chicago Cubs        19
8      Chicago Cubs         0
9      Chicago Cubs         4
10     Chicago Cubs         8
11     Chicago Cubs         6
12   Houston Astros         9
13   Houston Astros         2
14   Houston Astros         1
15   Houston Astros        10
16   Houston Astros        13
17   Houston Astros         1
18   Houston Astros        12
19   Houston Astros         0
20   Houston Astros         1
21   Houston Astros         2
22   Houston Astros         7
23   Houston Astros         7
24  Cincinnati Reds        13
25  Cincinnati Reds        39
26  Cincinnati Reds        25
27  Cincinnati Reds         9
28  Cincinnati Reds         3
29  Cincinnati Reds         0
30  Cincinnati Reds        13
31  Cincinnati Reds        27
32  Cincinnati Reds         5
33  Cincinnati Reds         1
34  Cincinnati Reds         2

In [61]:
modelo = ols('Homeruns ~ Equipos', data = datos_ej14).fit()
anova_resultados = anova_lm(modelo)
print(anova_resultados)

            df       sum_sq     mean_sq         F    PR(>F)
Equipos    2.0   285.432251  142.716126  1.606197  0.216407
Residual  32.0  2843.310606   88.853456       NaN       NaN

## Ejercicio 15

In [63]:
datos_ej15 = pd.DataFrame({
        'Pintura' : ['A'] * 6 + ['B'] * 6 + ['C'] * 6 + ['D'] * 6,
        'Años': [4.5, 5.5, 5.0, 5.5, 6.0, 5.0, 4.0, 4.5, 4.0, 3.5, 3.0, 4.5, 2.5, 3.0, 3.0, 3.5, 4.0, 2.5, 3.5, 3.0, 4.0, 3.0, 4.5, 3.0]
})
datos_ej15

   Pintura  Años
0        A   4.5
1        A   5.5
2        A   5.0
3        A   5.5
4        A   6.0
5        A   5.0
6        B   4.0
7        B   4.5
8        B   4.0
9        B   3.5
10       B   3.0
11       B   4.5
12       C   2.5
13       C   3.0
14       C   3.0
15       C   3.5
16       C   4.0
17       C   2.5
18       D   3.5
19       D   3.0
20       D   4.0
21       D   3.0
22       D   4.5
23       D   3.0

In [64]:
modelo = ols('Años ~ Pintura', data = datos_ej15).fit()
anova_resultados = anova_lm(modelo)
print(anova_resultados)

            df     sum_sq   mean_sq          F    PR(>F)
Pintura    3.0  15.864583  5.288194  15.572597  0.000018
Residual  20.0   6.791667  0.339583        NaN       NaN

## Ejercicio 16

In [80]:
datos_ej16 = pd.DataFrame()

datos_ej16['Variable A'] = ['A1'] * 18 + ['A2'] * 18 + ['A3'] * 18
datos_ej16['Variable B'] = ['B1'] * 6 + ['B2'] * 6 + ['B3'] * 6 + ['B1'] * 6 + ['B2'] * 6 + ['B3'] * 6 + ['B1'] * 6 + ['B2'] * 6 + ['B3'] * 6
datos_ej16['Calificaciones'] = [8, 1, 7, 9, 4, 12, 10, 7, 9, 7, 8, 14, 12, 9, 11, 5, 15, 15,
                               5, 3, 8, 8, 6, 10, 9, 10, 10, 6, 8, 12, 16, 11, 12, 4, 10, 13,
                               6, 5, 4, 10, 8, 13, 10, 7, 11, 8, 10, 14, 17, 9, 12, 6, 12, 14]
datos_ej16

   Variable A Variable B  Calificaciones
0          A1         B1               8
1          A1         B1               1
2          A1         B1               7
3          A1         B1               9
4          A1         B1               4
5          A1         B1              12
6          A1         B2              10
7          A1         B2               7
8          A1         B2               9
9          A1         B2               7
10         A1         B2               8
11         A1         B2              14
12         A1         B3              12
13         A1         B3               9
14         A1         B3              11
15         A1         B3               5
16         A1         B3              15
17         A1         B3              15
18         A2         B1               5
19         A2         B1               3
20         A2         B1               8
21         A2         B1               8
22         A2         B1               6
23         A2         B1              10
24         A2         B2               9
25         A2         B2              10
26         A2         B2              10
27         A2         B2               6
28         A2         B2               8
29         A2         B2              12
30         A2         B3              16
31         A2         B3              11
32         A2         B3              12
33         A2         B3               4
34         A2         B3              10
35         A2         B3              13
36         A3         B1               6
37         A3         B1               5
38         A3         B1               4
39         A3         B1              10
40         A3         B1               8
41         A3         B1              13
42         A3         B2              10
43         A3         B2               7
44         A3         B2              11
45         A3         B2               8
46         A3         B2              10
47         A3         B2              14
48         A3         B3              17
49         A3         B3               9
50         A3         B3              12
51         A3         B3               6
52         A3         B3              12
53         A3         B3              14

Para los siguientes ejercicios utilizaremos el módulo *Pingouin*

In [81]:
import pingouin as pg

In [82]:
modelo = pg.anova(dv='Calificaciones', between=['Variable A', 'Variable B'], data = datos_ej16)
round(modelo, 3)

                    Source       SS  DF      MS      F  p-unc    np2
0               Variable A    7.370   2   3.685  0.349  0.707  0.015
1               Variable B  161.370   2  80.685  7.638  0.001  0.253
2  Variable A * Variable B    0.296   4   0.074  0.007  1.000  0.001
3                 Residual  475.333  45  10.563    NaN    NaN    NaN

In [83]:
dhs = pairwise_tukeyhsd(endog = datos_ej16['Calificaciones'], groups = datos_ej16['Variable B'])
print(dhs)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
    B1     B2   2.3889 0.0608 -0.0874 4.8652  False
    B1     B3   4.2222 0.0004  1.7459 6.6985   True
    B2     B3   1.8333 0.1841  -0.643 4.3096  False
---------------------------------------------------

In [84]:
dhs = pairwise_tukeyhsd(endog = datos_ej16['Calificaciones'], groups = datos_ej16['Variable A'] + datos_ej16['Variable B'] )
print(dhs)

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
  A1B1   A1B2   2.3333 0.9419  -3.7785  8.4451  False
  A1B1   A1B3   4.3333 0.3584  -1.7785 10.4451  False
  A1B1   A2B1  -0.1667    1.0  -6.2785  5.9451  False
  A1B1   A2B2   2.3333 0.9419  -3.7785  8.4451  False
  A1B1   A2B3   4.1667 0.4106  -1.9451 10.2785  False
  A1B1   A3B1   0.8333    1.0  -5.2785  6.9451  False
  A1B1   A3B2   3.1667 0.7506  -2.9451  9.2785  False
  A1B1   A3B3   4.8333 0.2255  -1.2785 10.9451  False
  A1B2   A1B3      2.0 0.9762  -4.1118  8.1118  False
  A1B2   A2B1     -2.5  0.916  -8.6118  3.6118  False
  A1B2   A2B2      0.0    1.0  -6.1118  6.1118  False
  A1B2   A2B3   1.8333 0.9862  -4.2785  7.9451  False
  A1B2   A3B1     -1.5 0.9963  -7.6118  4.6118  False
  A1B2   A3B2   0.8333    1.0  -5.2785  6.9451  False
  A1B2   A3B3      2.5  0.916  -3.6118  8.6118  False
  A1B3   A2B1     -4.5 0.3098 -10.6118  1.6118  False
  A1B3   A2B2     -2.0 0.9762  -8.1118  4.1118  False
  A1B3   A2B3  -0.1667    1.0  -6.2785  5.9451  False
  A1B3   A3B1     -3.5 0.6399  -9.6118  2.6118  False
  A1B3   A3B2  -1.1667 0.9994  -7.2785  4.9451  False
  A1B3   A3B3      0.5    1.0  -5.6118  6.6118  False
  A2B1   A2B2      2.5  0.916  -3.6118  8.6118  False
  A2B1   A2B3   4.3333 0.3584  -1.7785 10.4451  False
  A2B1   A3B1      1.0 0.9998  -5.1118  7.1118  False
  A2B1   A3B2   3.3333 0.6967  -2.7785  9.4451  False
  A2B1   A3B3      5.0 0.1899  -1.1118 11.1118  False
  A2B2   A2B3   1.8333 0.9862  -4.2785  7.9451  False
  A2B2   A3B1     -1.5 0.9963  -7.6118  4.6118  False
  A2B2   A3B2   0.8333    1.0  -5.2785  6.9451  False
  A2B2   A3B3      2.5  0.916  -3.6118  8.6118  False
  A2B3   A3B1  -3.3333 0.6967  -9.4451  2.7785  False
  A2B3   A3B2     -1.0 0.9998  -7.1118  5.1118  False
  A2B3   A3B3   0.6667    1.0  -5.4451  6.7785  False
  A3B1   A3B2   2.3333 0.9419  -3.7785  8.4451  False
  A3B1   A3B3      4.0 0.4658  -2.1118 10.1118  False
  A3B2   A3B3   1.6667 0.9925  -4.4451  7.7785  False
-----------------------------------------------------

## Ejercicio 17

In [85]:
datos_ej17 = pd.DataFrame({
                'Variable A': ['A1'] * 12 + ['A2'] * 12,
                'Variable B': ['B1'] * 4  + ['B2'] * 4 + ['B3'] * 4 + ['B1'] * 4  + ['B2'] * 4 + ['B3'] * 4,
                'Calificaciones': [4, 6, 7, 9, 5, 8, 3, 7, 4, 6, 2, 5, 8, 7, 9, 11, 6, 9, 12, 8, 11, 9, 13, 7]
})
datos_ej17

   Variable A Variable B  Calificaciones
0          A1         B1               4
1          A1         B1               6
2          A1         B1               7
3          A1         B1               9
4          A1         B2               5
5          A1         B2               8
6          A1         B2               3
7          A1         B2               7
8          A1         B3               4
9          A1         B3               6
10         A1         B3               2
11         A1         B3               5
12         A2         B1               8
13         A2         B1               7
14         A2         B1               9
15         A2         B1              11
16         A2         B2               6
17         A2         B2               9
18         A2         B2              12
19         A2         B2               8
20         A2         B3              11
21         A2         B3               9
22         A2         B3              13
23         A2         B3               7

In [86]:
modelo = pg.anova(dv = 'Calificaciones', between = ['Variable A', 'Variable B'], data = datos_ej17)
round(modelo, 2)

                    Source     SS  DF     MS      F  p-unc   np2
0               Variable A  80.67   1  80.67  17.29   0.00  0.49
1               Variable B   1.08   2   0.54   0.12   0.89  0.01
2  Variable A * Variable B  13.58   2   6.79   1.46   0.26  0.14
3                 Residual  84.00  18   4.67    NaN    NaN   NaN

Eta cuadrado y el eta cuadrado parcial son medidas de tamaño de efecto. Para saber más sobre estas, visiten el link siguiente: https://resources.nu.edu/statsresources/eta